#search_filter_container {
    justify-content: center;
}

#search_filters {
    justify-content: center;
    background-color: lightcoral;
}

main section * {
    padding: 5px;
}

.card_image {
    max-width: 100%; /* Ensure images are responsive */
    height: auto;
}

#sort_select {
    height: fit-content;
}

.centered_container {
    display: flex;
    align-items: center;
    justify-content: center;
}